
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    padding: 1.25rem 1.5rem;
    border-radius: 8px;
    background-color: #FF900E;
    border: 0;
    margin: 2rem auto;
}
.common-title-section{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

header{
   background-color: rgba(255, 144, 14, 0.10);
   padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color:#424242;
    font-size: 1rem;
    font-weight: 500;   
}
nav li a{
    text-decoration: none;
    
}
.nav-title{
    margin: 0 auto;
    padding: 30px;
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 7.25rem;
}
.banner-title{
    color:#131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color:#727272;
    font-size: 1rem;
    line-height: 26px;
}
.banner-image img{ 
   width: 100%;
    max-width: 1440px;
   margin: 0 auto;
  
   
}

main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
    gap: 4.5rem;
    padding: 0 60px ;
}
.team-image-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 2fr);
}
eams-title-feature{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.teams-title-quick{
    color:  #727272;
    font-size: 45px;
    font-weight: 500;
}
/* Featured Design Section */
.featured{
    display: flex;
    max-width: 1440px;
    width: 75%;
    margin: 130px auto;

}
#common-title-section-headline{
    margin-bottom: 1.5rem;
}
.featured-design{
   
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
}
.featured-text-column .featured-design{
    padding: 30px;
    max-width: 586px;
}
.featured-text-column .featured-design p{
   margin-top: 10px;
}
.featured-image-column img{
    width: 100%;
    max-width: 700px;
    height: 90%;
    object-fit: cover;
    margin-left: 90px;
}
.featured-image-column-years{
    max-width: 260px;
    padding: 1.5rem 0;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    text-align: center;
     position: relative;
     bottom: 100px;
     left: 1.5rem;
  
   
}
.tenYears{
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
   
}
.experience{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
}

/* Responsive nav */
@media screen and (max-width: 576px){
    header{
        padding: 25px;
        }
    nav, .featured{
        flex-direction: column;
        margin: 0 auto;

}
.nav-title{
        color:#131313;
        font-size: 2.8rem;
        font-weight: 700; 
}
.banner-content{
    margin-top: 2.8rem;
}
.teams-container{
    flex-direction: column-reverse;
}
.team-image-container{
  
    grid-template-columns: 1fr;
}
.featured-image-column-years{
    width: 80%;
    padding: 1rem;
    position: static;
    margin: 0 auto; 

}
.featured-image-column img{
    /* width: 80%;
    max-width: 708px; */
    margin-left: 0;
}
.tenYears{
    font-size: 2rem;
    font-weight: 700;
   
}

    
}
@media screen and (min-width: 576px) and (max-width:992px){
   header{
            padding: 50px;
    }
    nav, .featured{
            flex-direction: column;
  
}
.teams-container{
    flex-direction: column-reverse;
}
   
}